.stp filter=lfs diff=lfs merge=lfs
.step filter=lfs diff=lfs merge=lfs
.sldprt filter=lfs diff=lfs merge=lfs
.sldasm filter=lfs diff=lfs merge=lfs
.STP filter=lfs diff=lfs merge=lfs
.STEP filter=lfs diff=lfs merge=lfs
.SLDPRT filter=lfs diff=lfs merge=lfs
.SLDASM filter=lfs diff=lfs merge=lfs
.png filter=lfs diff=lfs merge=lfs
.jpg filter=lfs diff=lfs merge=lfs
.jpeg filter=lfs diff=lfs merge=lfs
.PNG filter=lfs diff=lfs merge=lfs
.JPG filter=lfs diff=lfs merge=lfs
.JPEG filter=lfs diff=lfs merge=lfs